<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alw.atchiangmai">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChiangMai">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ExchangeActivity"/>
        <activity android:name=".ui.HospitalActivity"/>
        <activity android:name=".ui.OTOPActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".ui.FeedActivity"/>
        <activity android:name=".ui.MoreActivity" />
        <activity android:name=".ui.UserActivity" />
        <activity android:name=".MainActivity"/>
    </application>

</manifest>